<div>
	<ul class="simple_menu">
		<li>
			<a class="button red_button" href="/<%-locale%>/profile/company/corporation/create">Добавить корпорацию</a>
		</li>
		<li>
			<a class="button blue_button" href="/<%-locale%>/profile/company/startup/create">Добавить стартап</a>
		</li>
	</ul>
</div>