<div class="sidebar profile_menu">
	<div class="sidebar-row">
		<div class="widget widget_recent_entries">
			<h5 class="widgettitle">Menu profile</h5>
			<ul>
				<li>
					<a href="/<%-locale%>/profile/">Мой профайл</a>
				</li>
				<li>
					<a href="/<%-locale%>/profile/companies/">Мои компании</a>
				</li>
			</ul>
		</div>
	</div>
</div>
