<div class="container auth_form">
	<h1>Регистрация в LET'S PARTNER</h1>

	<% if (typeof sent !== 'undefined' && sent) { %>
		<p>Ссылка для активации отправлена на <b><%- user.email %></b></p>
	<% } %>

	<p>Мы отправили письмо на почту <b><%- user.email %></b>. Чтобы завершить регистрацию, пожалуйста, перейдите по ссылке из этого письма.</p>
	<p>Письмо не пришло? <a href="/action/send-activation">Выслать еще раз</a>. И проверьте, нет ли опечатки в адресе.</p>
</div>
