	<div class="container profile_section">
		<h1><%= __tr('My_companies') %></h1>

		<div class="admin_block">

			<%- include('../../_profile_menu') %>

			<div>

				<%- include('../../_menu') %>

				<%- include('_list') %>

			</div>
		</div>
	</div>
