<div class="container profile_section">

	<h1><%- __tr("Admin") %></h1>

	<div class="admin_block">

		<%- include('menu'); %>

		<div>
			<h2>Привет!</h2>
			<p>Ты находишся в разделе администратора сайта. Слева находится меню навигации. <br>Перейди в нужный тебе раздел.</p>
		</div>

	</div>

</div>