<div id="block_popup" class="mfp-hide">

	<h1>Ваш профиль заблокирован. Обратитесь пожалуйста в службу поддержки</h1>

	<div class="center">
		<button type="button" class="close button blue_button">Закрыть</button>
	</div>
</div>