<ul class="company_form_menu">
	<li>
		<a href="#info" v-bind:class="{ active: activePart == 'info' }" v-on:click="activePart = 'info'">О компании</a>
	</li>
	<li>
		<a href="#team" v-bind:class="{ active: activePart == 'team' }" v-on:click="activePart = 'team'">Команда</a>
	</li>
</ul>
